*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',sans-serif;
}

header {
  margin-left: 320px;
  position: relative;
}

h1 {
  margin-bottom: 0;
  color: #303030;
}

hr {
  display: inline-block;
  width: 120px;
  text-shadow: 10px;
  height: 7px;
  background-color: #303030;
  border-radius: 10px;
}

section {
  text-align: center;
  margin-top: 20px;
  position: relative;
}


div {
  display: inline-block;
  text-align: center;
  margin: 25px;
  position: relative;
}

.body-photos {
  margin-left: 118px;
}

.name {
  position: absolute;
  top: 280px;
  left: 125px;
  color: white;
  font-weight: bold;
  margin-left: 12%;
}
